<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
</head>

<body>
  <div class="wrapper">
    <header class="header">
      {{ partial "header.html" . }}
    </header>
    <main class="content">
      <div class="content-container">
        {{ block "main" . }}{{ end }}
      </div>
    </main>
    <footer class="footer">
      {{ partial "footer.html" . }}
    </footer>
  </div>
</body>

</html>